<!-- <h1>>Hola mundo!</h1> -->

<!-- 4 - Plantilla:
Se utiliza formGroup para enlazar el formulario y formControlName para enlazar los controles.
Se muestran mensajes de error si los controles son inválidos y han sido tocados. -->
<div class="formularioRegistro">
  <h2>Crear persona</h2>
  <form [formGroup]="personaForm" (ngSubmit)="guardar()">
    <!-- <form [formGroup]="personaForm" (ngSubmit)="mostrar()"> -->
    <!--  -->

    <div class="form-group">
      <label>Nombre</label>
      <input type="text" formControlName="nombre" class="form-control">
    </div>
    <!-- formControlName="nombre"  va a buscar fuera del div, se encuentra con el formulario
      y ahi esta definido a que grupo pertenece la propiedad "nombre" -->

    <div class="form-group">
      <label>Apellido</label>
      <input type="text" formControlName="apellido" class="form-control">
    </div>

    <div class="form-group">
      <label>Edad</label>
      <input type="number" formControlName="edad" class="form-control" id="edad">
    </div>

    <div class="form-group">
      <label>Pais</label>
      <!-- <input type="text" formControlName="pais" class="form-control"> -->
      <select name="pais" id="pais" formControlName="pais" class="form-control" (change)="cargarEstadosPorPais($event)">
        <!--select menu desplegable
             name: este atributo establece el nombre del campo
             id: este atributo establece un identificador unico dentro del documento
             formControlName: este atributo establece el nombre del control (FormGroup) asociado con este elemento
             class: este atributo establece una clase CSS para este elemento
             change: evento que se dispara cuando el valor del select cambia, ie el usuario selecciona un valor
             $event: evento que contiene la información del evento (en este caso el id del pais seleccionado) 
      -->
        <!-- <option value="item.id" *ngFor="let item of paises"></option> -->
        <!-- uso este segundo ejemplo -->
        <option *ngFor="let item of paises$ | async" [value]="item.id">{{item.nombre}}</option>
        <!-- itera paises$ (array de paises) y le asigna a item
            {{item.nombre}}: Esta es una interpolación de Angular que muestra el nombre del país en el menú desplegable. 
                            El texto que se ve en el menú será el nombre del país correspondiente a cada item.
             [value]="item.id" este es el valor que se envira cuadno se selecciona un valor
              
             *ngFor="let item of paises$ | async" esta es una forma de usar async pipe en Angular para iterar sobre observables y arrays asincronos.
             El async pipe se encarga de manejar el observable y actualizar la vista cuando cambia.
             En este caso, estamos iterando sobre paises$ (observable de paises) y mostrando el nombre del pais seleccionado -->

      </select>
    </div>

    <div class="form-group">
      <label>Estado o region</label>
      <!-- <input type="text" formControlName="pais" class="form-control"> -->
      <select name="estado" id="estado" formControlName="estado" class="form-control">
        <!-- <option value="item.id" *ngFor="let item of paises"></option> -->
        <!-- uso este segundo ejemplo -->
        <option *ngFor="let item of estados$ | async" [value]="item.id">{{item.nombre}}</option>
      </select>
    </div>

    <button type="submit" [disabled]="personaForm.invalid" class="btn btn-primary">Guardar</button>
    <!-- <button type="button" class="btn btn-primary">Primary</button>  esta es una opcion de boton primario de bootstrap -->

  </form>
</div>
<div class="formularioRegistro">
  {{personaForm.value | json }}
  <!-- de esta forma obetenemos los valores de personaForm para ver en pantalla -->
  <br />
  <p>nombre</p>
  {{personaForm.get('nombre')?.value}}
  <!-- de esta manera usando el metodo ya proporcionado podemos acceder al valor de la propiedad "nombre".
    El signo de interrogacion es para decirle que puede aceptar un valor nulo -->

</div>


<div class="formularioRegistro">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>Pais</th>
        <th>Estado</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of personas">
        <td>{{ item.id }}</td>
        <td>{{ item.nombre }}</td>
        <td>{{ item.apellido }}</td>
        <td>{{ item.edad }}</td>
        <td>{{ item.pais?.nombre }}</td>
        <td>{{ item.estado?.nombre }}</td>
        <td>
          <button type="button" class="btn btn-success">Editar</button>
          <button type="button" class="btn btn-danger" (click)="eliminar(item)" >Eliminar</button>

        </td>
      </tr>
    </tbody>

  </table>

</div>



<router-outlet />




<!-- 5 - Método onSubmit: Se ejecuta cuando el formulario se envía. Verifica si el formulario es válido y, si lo es, imprime los valores en la consola. -->